.about {

}

.about__container {
  padding-top: 118px;
  padding-bottom: 60px;

  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 60px;
  }
}

.about__content {
  padding-right: 106px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12.12%;

  @include vp-1199 {
    display: block;
  }
}

.about__column {
  p {
    margin: 0;
    margin-bottom: 33px;

    @include vp-1199 {
      margin: 0;
    }
  }
}

.about__column:first-child {
  p {
    font-size: 22px;
    line-height: 32px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 26px;
      width: 85%;
    }
  }
}

.about__column:last-child {
  p {
    font-size: 16px;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
      width: 90%;
    }
  }
}

.about__header {
  margin-bottom: 29px;
  margin-top: 5px;

  @include vp-1199 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.about__title {
  margin-bottom: 33px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 23px;
  }
}

.about__more-link {
  width: 277px;

  @include vp-1199 {
    margin-top: 35px;
  }
}
