.about {

}

.about__container {
  padding-top: 120px;
  padding-bottom: 60px;
}

.about__content {
  padding-right: 106px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12.12%;
}

.about__column {

  p {
    margin: 0;
    margin-bottom: 32px;
  }
}

.about__column:first-child {
  p {
    font-size: 22px;
    line-height: 32px;
  }
}

.about__column:last-child {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.about__header {
  margin-bottom: 32px;
}

.about__title {
  margin-bottom: 31px;
}

.about__more-link {
  width: 277px;
}
