.accordion {}

.accordion__element {
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  width: 100%;
  padding: 39px;

  @include vp-1199 {
    padding: 29px 30px 29px 29px;
  }

  @include vp-767 {
    padding: 18px 14px 17px 14px;
    border-radius: 14px;
  }
}

.accordion__element+.accordion__element {
  margin-top: 10px;
}

.accordion__element.is-active {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  padding-bottom: 32px;

  @include vp-1199 {
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-bottom: 14px;
  }

  .accordion__button {
    margin-bottom: 13px;
  }

  .accordion__button-title {
    color: $color-default-white;
  }

  .accordion__element-icon-wrapper {
    color: $color-cerulean-blue;
    background-color: $color-default-white;

    svg:first-of-type {
      display: none;
    }
  }
}

.accordion__element--longtitle {
  padding: 39px 39px 33px;

  @include vp-1199 {
    padding: 29px 30px 22px 29px;
  }

  @include vp-767 {
    padding: 18px 14px 17px;
  }

  .accordion__button-title {
    margin-top: -8px;

    @include vp-1199 {
      margin-top: -3px;
    }
  }
}

.accordion__button {
  color: $color-cerulean-blue;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  transition: all 0.5s;
  justify-content: space-between;
  text-align: start;
}

.accordion__button-title {
  font-size: 28px;
  line-height: 34px;
  width: 75%;
  margin-top: 2px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    margin-top: 7px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    margin-top: 0;
  }
}

.accordion__element-icon-wrapper {
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  border-radius: 50%;

  svg:last-of-type {
    display: none;
  }
}

.accordion__content {
  font-size: 16px;
  line-height: 26px;

  @include vp-1199 {
    width: 90%;
  }

  p {
    margin: 0;
    margin-right: auto;
    width: fit-content;
    text-align: start;
    max-width: 640px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      //Намеренно вставляю letter-spacing которого нет в макете для простоты проверки, чтобы избежать лишних строк образующихся из-за типографа
      letter-spacing: -0.5px;
    }
  }
}
