.achievements {}

.achievements__container {
  padding-bottom: 120px;
}

.achievements__content {
  padding: 50px 106px;
  background-color: $color-cerulean-blue;
  border-radius: 20px;
}

.achievements__list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px 32px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.achievements__item {
  display: flex;
  justify-content: space-between;
  border: 2px solid $color-default-white;
  border-radius: 16px;
  padding: 30px 60px;
  color: $color-default-white;
  position: relative;

  span:first-of-type {
    display: block;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  span:last-of-type {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    top: -21px;
    left: -21px;
    background-color: #316dc2;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    width: fit-content;
    max-width: 195px;
  }
}
