.form {
  color: $color-default-white;

  form {
    background-color: $color-cerulean-blue;
    padding: 89px 74px 51px;
    width: 498px;
    height: auto;

    position: relative;
    z-index: 2;
    border-radius: 16px;

    span {
      font-size: 32px;
      line-height: 36px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    div:last-of-type {
      display: block;
    }

    div+div {
      margin-top: 20px;
    }

    label {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 12px;
    }

    button {
      margin-top: 40px;
    }
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.form__container {
  padding-top: 120px;
  padding-bottom: 60px;
  border-radius: 16px;
}

.form__content {
  position: relative;
}

.form__header {}
