.programs {
}

.programs__container {
  padding-bottom: 120px;
}

.programs__header {
  margin-bottom: 52px;
}

.programs__slider {
}

.programs__swiper {
}

.programs__swiper-wrapper {
  list-style-type: none;
  padding: 0;
}

.programs__slide {
}

.programs__controls-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programs__pagination.swiper-pagination {
  bottom: 0;
  top: unset;
  max-width: 1134px;
  width: 91.5%;
}

.programs__navigation {
}

// .programs__navigation-button {
//   width: 22px;
//   height: 22px;
//   background-color: transparent;
//   border: none;
//   color: $color-cerulean-blue;
// }

.programs__navigation-button--prev {
}
