.programs {
}

.programs__container {
  padding-bottom: 120px;
}

.programs__header {
  margin-bottom: 52px;
}

.programs__slider {
}

.programs__swiper {
}

.programs__swiper-wrapper {
  list-style-type: none;
  padding: 0;
}

.programs__slide {
}

.programs__pagination.swiper-pagination {
  bottom: 0;
  top: unset;
}

.programs__navigation {
}
.programs__navigation-button {
}
.programs__navigation-button--prev {
}
