.program {
  position: relative;
}

.program__image-wrapper {}

.program__text-wrapper {
  position: absolute;
  bottom: 0;
  padding: 50px 51px 20px 20px;
  max-height: 100%;
  overflow: auto;
}

.program__title {
  background-color: $color-default-white;
  border-radius: 12px 12px 0 0;
  min-width: 194px;
  width: fit-content;
  padding: 13px 18px 2px 18px;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  @include vp-1199 {
    min-width: 173px;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 17px 3px;
  }
}

.program__title::after {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../img/angle.svg');
  bottom: 0;
  right: -20px;
  transform: rotate(0deg);
}

.program__row {
  background-color: $color-default-white;
  border-radius: 0 12px 12px 12px;
  padding: 15px 18px 18px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;

  @include vp-1199 {
    font-size: 14px;
    line-height: 20px;
    padding: 0 18px 6px 18px;
    min-width: 263px;
    min-height: 77px;
  }

  p {
    margin: auto;
    max-width: 239px;
    margin-right: 16px;

    @include vp-1199 {
      max-width: 181px;
    }
  }
}
