.programs {
}

.programs__container {
  padding-bottom: 130px;

  @include vp-1199 {
    padding-bottom: 108px;
  }
}

.programs__header-row {
  display: flex;
  justify-content: space-between;
}

.programs__header {
  margin-bottom: 46px;
  margin-top: 4px;

  @include vp-1199 {
    margin-top: 0;
  }
}

.programs__more-link {
  width: fit-content;
  height: fit-content;
}

.programs__slider {
}

.programs__swiper {
}

.programs__swiper-wrapper {
  list-style-type: none;
  padding: 0;
}

.programs__slide {
}

.programs__controls-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.programs__pagination.swiper-pagination {
  bottom: 0;
  top: unset;
  max-width: 1134px;
  width: 91.5%;
}

.programs__navigation {
}

// .programs__navigation-button {
//   width: 22px;
//   height: 22px;
//   background-color: transparent;
//   border: none;
//   color: $color-cerulean-blue;
// }

.programs__navigation-button--prev {
}
