.reviews {}

.reviews__container {
  padding-bottom: 131px;
}

.reviews__header {
  margin-bottom: 45px;
}

.reviews__slider {}

.reviews__swiper {}

.reviews__swiper-wrapper {}

.reviews__slide {}

.reviews__controls-row {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}

.reviews__pagination-wrapper {}

.reviews__pagination.swiper-pagination {
  bottom: 0;
  top: unset;
  width: 91.5%;
  max-width: 1134px;
}

.reviews__navigation {
  display: flex;
  gap: 11px;
}

.reviews__navigation-button {}

.reviews__navigation-button--prev {}

.reviews__navigation-button--next {}
