.reviews {}

.reviews__container {
  padding-bottom: 120px;
}

.reviews__header {
  margin-bottom: 52px;
}

.reviews__slider {}

.reviews__swiper {}

.reviews__swiper-wrapper {}

.reviews__slide {}

.reviews__controls-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__pagination-wrapper {}

.reviews__pagination.swiper-pagination {
  bottom: 0;
  top: unset;
  max-width: 1134px;
}

.reviews__navigation {}

.reviews__navigation-button {}

.reviews__navigation-button--prev {}

.reviews__navigation-button--next {}
