.slide-main {
  position: relative;
  z-index: 2;
}

.slide-main__title {
  margin: 0;
  margin-bottom: 30px;

  color: $color-cerulean-blue;

  font-size: 54px;
  line-height: 62px;
}

.slide-main__row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.slide-main__row::after {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../img/angle.svg');
  top: 0;
  right: -20px;
  transform: rotate(90deg);
}

.slide-main__more-link-wrapper {}

.slide-main__more-link {}
